{
  "objectWrap": "preserve",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": false,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "none",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "requirePragma": false,
  "embeddedLanguageFormatting": "off",
  "multilineArraysWrapThreshold": 0,
  "plugins": ["@prettier/plugin-lua", "prettier-plugin-multiline-arrays"],
  "overrides":
    [
      { "files": "*.html", "options": { "tabWidth": 4 } },
      { "files": "*.json", "options": { "tabWidth": 4 } },
      { "files": ["*.yaml", "*.yml"], "options": { "tabWidth": 4 } },
      { "files": "*.lua", "options": { "printWidth": 125 } }
    ]
}
