{
  "objectWrap": "preserve",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": false,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "none",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "requirePragma": false,
  "embeddedLanguageFormatting": "off",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
